[mysqld]
# Binary logging
server_id = 1
log_bin = /var/lib/mysql/mysql-bin
expire_logs_days = 10
max_binlog_size = 100M

# 🔥 Necesario para backup incremental
# binlog_format = MIXED
binlog_format = STATEMENT
# binlog_row_image = FULL

# Character set
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
